.signup-form {
  max-width: 30em;
  margin: 0 auto;
  padding: 4em;

  h2 {
    text-align: center;
    margin: 0 -4em;
  }
}

#mc_embed_signup {
  background-color: $background-color !important;
}

.field-group-phone {
  width: 100% !important;
}
