<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//indivisiblebrooklyn.us15.list-manage.com/subscribe/post?u=7984998df082f1290ecfbbcbd&amp;id=384cd9e9e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">What's your email address?  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">What's your first name?  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">What's your last name?  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-ZIP">What's your zip code?  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="ZIP" class="required" id="mce-ZIP">
</div>
<div class="mc-field-group size1of2 field-group-phone">
	<label for="mce-PHONE">What's your phone number? (optional) </label>
    <div class="phonefield phonefield-us">
      <span class="phonearea"><input class="phonepart " placeholder="555" pattern="[0-9]*" id="mce-PHONE-area" name="PHONE[area]" maxlength="3" size="3" value="" type="text"></span>
      <span class="phonedetail1"><input class="phonepart " placeholder="555" pattern="[0-9]*" id="mce-PHONE-detail1" name="PHONE[detail1]" maxlength="3" size="3" value="" type="text"></span> -
      <span class="phonedetail2"><input class="phonepart " placeholder="5555" pattern="[0-9]*" id="mce-PHONE-detail2" name="PHONE[detail2]" maxlength="4" size="4" value="" type="text"></span>
    </div>
</div><div class="mc-field-group input-group">
    <strong>How are you interested in getting involved? </strong>
    <ul><li><input type="checkbox" value="1" name="group[271][1]" id="mce-group[271]-271-0"><label for="mce-group[271]-271-0">&nbsp I want to join the Federal team</label></li>
      <li><input type="checkbox" value="2" name="group[271][2]" id="mce-group[271]-271-1"><label for="mce-group[271]-271-1">&nbsp I want to join the State team</label></li>
      <li><input type="checkbox" value="4" name="group[271][4]" id="mce-group[271]-271-2"><label for="mce-group[271]-271-2">&nbsp I want to join the City team</label></li>
      <li><input type="checkbox" value="16" name="group[271][16]" id="mce-group[271]-271-3"><label for="mce-group[271]-271-3">&nbsp I'm unsure and would like to talk to someone in the group</label></li>
      <li><input type="checkbox" value="32" name="group[271][32]" id="mce-group[271]-271-4"><label for="mce-group[271]-271-4">&nbsp I just want to receive updates</label></li>
    </ul>
</div>
<div class="mc-field-group input-group">
  <strong>Email Format </strong>
  <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">&nbsp html</label></li>
    <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">&nbsp text</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7984998df082f1290ecfbbcbd_384cd9e9e6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
