$blue: #001d59;
// $blue: rgba(0,31,92,.69);
$red: rgba(153,11,11,.73);
$green: #318493;

$light-grey: #ddd;
$off-white: #fafafa;
$black: rgb(0,0,0);
$white: rgb(255,255,255);

$primary-color: $blue;
$secondary-color: $red;
$action-color: $red;
$text-color: $black;
$link-color: $green;


$font-family: Montserrat, Arial, Helvetica, sans-serif;
