.hero-image {
  background-image: url("/images/Indivisible Brooklyn - Hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: calc(100% / 3);
}
